/* BODY */
body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
/* //BODY */
/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
}
/* //CONTAINER */
a {
  text-decoration: none;
  color: blue;
}
a:visited {
  text-decoration: none;
}
/* GENERAL */
h3 {
  font-weight: bold;
  font-size: 1em;
}
/* //GENERAL */

/* HEADER */
header {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin: 0px 30px 10px 30px;
}
#links {
}
#links ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
#links li {
  padding: 20px 10px;
  margin: 0 10px;
}
#links li.active {
  border-top: 2px solid #0065fc;
}
#links a {
  text-decoration: none;
  color: grey;
}
#links .active a {
  color: #0065fc;
}
a#login-link {
  color: #0065fc;
  font-weight: bold;
}
/* //HEADER */

/* SEARCHBAR and filter*/
#search-and-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 30px;
}
#search-bar {
  display: flex;
  height: 30px;
  align-items: center;
  margin-bottom: 40px;
}
#search-bar-button {
  color: white;
  background-color: #0065fc;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
}
#search-bar-icon,
#search-bar-input,
#search-bar-button {
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
#search-bar-button {
}
#search-bar-input {
  padding: 0 10px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
}
#search-bar-icon {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.filters {
  display: flex;
  align-items: center;
  height: 30px;
  font-weight: bold;
}
.filter {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
  align-items: center;
  margin-left: 30px;
  height: 30px;
}
.filter-icon {
  color: #0065fc;
  position: relative;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #deebff;
  border-radius: 20px;
  /* padding: 5px; */
}
.filter span {
  padding-left: 15px;
  padding-right: 15px;
}
/* //SEARCHBAR */

/* FONTS */

/* LOGO */

ul {
  list-style-type: none;
}

#hostings {
  display: flex;
}
#hostings img {
}
#all-hostings {
  width: 70%;
  background-color: #f2f2f2;
  margin: 10px 15px 10px 30px;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
#all-hostings h2 {
  width: 100%;
}
.all-hosting-bloc {
  width: 33%;
  height: 239px;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.all-hosting-bloc img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
#popular-hostings-container {
  width: 30%;
  background-color: #f2f2f2;
  margin: 10px 30px 10px 15px;
  padding: 10px 20px;
  border-radius: 15px;
}
#popular-hostings {
  display: flex;
  flex-direction: column;
}
.popular-bloc {
  display: flex;
  width: 100%;
  height: 160px;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.popular-bloc img {
  width: 37%;
  object-fit: cover;
}
#hostings h2 {
  font-weight: bold;
  font-size: 1.3em;
}
#hostings h3 {
  margin: 0;
}
#hostings h4 {
  font-weight: normal;
  font-size: 0.98em;
  margin: 0;
}
#hostings .blue-star {
  color: #0065fc;
}
#hostings .grey-star {
  color: lightgrey;
}

/* ACTIVITIES */
#activities {
  display: flex;
  justify-content: space-around;
  height: 540px;
}
#activities img {
  /* display: none; */
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.activities-bloc {
  display: flex;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  margin: 0 15px;
  border-radius: 20px;
}
.activities-bloc h3 {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 40px;
  width: 100%;
  margin: 0;
}
.full-bloc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}
.full-bloc img {
  height: 500px;
}
.splitted-bloc {
  flex-direction: column;
  row-gap: 30px;
}
.splitted-bloc img {
  height: 215px;
}
.half-bloc {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* border: 1px solid lightgreen; */
  height: 50%;
  border-radius: 20px;
}
.full-bloc,
.half-bloc {
  box-shadow: 0 1px 8px lightgrey;
}
#activities-container {
  margin-right: 15px;
  margin-left: 15px;
}
#activities-container h2 {
  margin-left: 15px;
}

footer {
  margin-top: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  align-items: center;
}
footer div {
  width: 33%;
  display: flex;
  flex-direction: column;
}
footer ul {
  padding: 0;
  margin-top: 0;
}
footer li {
  color: black;
  margin-top: 16px;
}
footer a {
  color: black;
}
footer h3 {
  margin-bottom: 0;
}

/* SMARTPHONE */
@media only screen and (max-width: 767px) {
  .container,
  .header,
  .search-and-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
}
